@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Cabin');

@media (min-width: 600px) {
  .deco {
     padding-right: 100px;
  }
}
@media (min-width: 900px) {
  .info {
     padding-left: 5%;
  }
  .deco {
     padding-right: 300px;
  }
}
div#dib1b {
  background-image:url("../image/dib1.svg"); 

}
 div#dib1a {
  background-image:url("../image/dib1.svg"); 

}
 div#dib2b {
  background-image:url("../image/dib2.svg"); 

}
div#dib2a {
  background-image:url("../image/dib2.svg"); 

}
div#dib3b {
  background-image:url("../image/dib3.svg"); 

}
 div#dib3a {
  background-image:url("../image/dib3.svg"); 

}
div#dib4b{
  background-image:url("../image/dib4.svg"); 

}
 div#dib4a {
  background-image:url("../image/dib4.svg"); 

}
 div#dib5b {
  background-image:url("../image/dib5.svg"); 

}
 div#dib5a {
  background-image:url("../image/dib5.svg"); 

}
 div#dib6b {
  background-image:url("../image/dib6.svg"); 

}
 div#dib6a {
  background-image:url("../image/dib6.svg"); 

}
 div#dib7b {
  background-image:url("../image/dib7.svg"); 

}
 div#dib7a {
  background-image:url("../image/dib7.svg"); 

}
 div#dib8b {
  background-image:url("../image/dib8.svg"); 

}
 div#dib8a {
  background-image:url("../image/dib8.svg"); 

}
.hide {
  display: none;
}
.cap {
position:absolute;
font-family: 'Courgette', cursive;
font-size: 64px; 
color: #fffee0; 
margin:30px;
}
.cap2 {
position:absolute;
font-family: 'Courgette', cursive;
}
.cap3 {
font-family: 'Courgette', cursive;
}
.info {
  position: fixed;
  font-family: 'Cabin', sans-serif;
  color :#7c6e56;
}
.deco {
  padding:25px;
  margin-top: 100px;
  float: right;
  padding-right: 10%;
}
.fant {
  filter: grayscale(50%) sepia(0.74) opacity(0.69);
-webkit-filter: grayscale(50%) sepia(0.74) opacity(0.69);
}


button {
  background: #f51616;
  background-image: -webkit-linear-gradient(top, #f51616, #f0ebe2);
  background-image: -moz-linear-gradient(top, #f51616, #f0ebe2);
  background-image: -ms-linear-gradient(top, #f51616, #f0ebe2);
  background-image: -o-linear-gradient(top, #f51616, #f0ebe2);
  background-image: linear-gradient(to bottom, #f51616, #f0ebe2);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 0px 1px 3px #db271b;
  -webkit-box-shadow: 1px 8px 3px #666666;
  -moz-box-shadow: 1px 8px 3px #666666;
  box-shadow: 1px 8px 3px #666666;
  font-family: Arial;
  color: #171515;
  font-size: 19px;
  padding: 21px 16px 26px 15px;
  border: solid #0a0909 2px;
  text-decoration: none;
}


button:hover {
  background: #dce3e8;
  background-image: -webkit-linear-gradient(top, #dce3e8, #f5a1a1);
  background-image: -moz-linear-gradient(top, #dce3e8, #f5a1a1);
  background-image: -ms-linear-gradient(top, #dce3e8, #f5a1a1);
  background-image: -o-linear-gradient(top, #dce3e8, #f5a1a1);
  background-image: linear-gradient(to bottom, #dce3e8, #f5a1a1);
  text-decoration: none;
}
 
.container-fluid {
 max-width: 650px;
height:auto;
display:block;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
-webkit-box-shadow:0px 19px 47px 30px #8b8a8a ,0px 0px 100px 17px #b7ba9a inset;
-moz-box-shadow:0px 19px 47px 30px #8b8a8a ,0px 0px 100px 17px #b7ba9a inset;
box-shadow:0px 19px 47px 30px #8b8a8a ,0px 0px 100px 17px #b7ba9a inset;
padding:20px;
padding-right:35px;
}

.row {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}



.cards-box { 
  margin: 10px;
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 800px;
}

.card {
 margin: 10px;
  width: 150px;
  height: 150px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-box-shadow:0px 0px 67px 4px #908989 ,0px 0px 7px 6px #b7ba9a inset;
-moz-box-shadow:0px 0px 67px 4px #908989 ,0px 0px 7px 6px #b7ba9a inset;
box-shadow:0px 0px 67px 4px #908989 ,0px 0px 7px 6px #b7ba9a inset;
}
.card div {
  margin: 10px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card .front {

 background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232cbcd2' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.card .back {
   margin: 10px;
width:120px;
height: 120px;
  transform: rotateY( 180deg );
}
.card.flip {
  transform: rotateY( 180deg );
}
.dedicated {
  margin-top: 50px;
font-family: 'Cabin', sans-serif;
text-decoration: none;
}
a.dedicated {
 all: unset;
}